@page
@model LoginModel
@{
}
<h1>This will be the login portal</h1>
<form method="post">
    <input type="text" name="Username" value="Username"><br>
    <input type="text" name="Password" value="Password"><br>
    <input type="submit" value="Submit">
</form>
<p>
    <a asp-page="/Employee_Section/EmployeeHome">Click here to go to EmployeeHome</a>
</p>
