@page
@model LoginModel

<h1>This will be the login portal</h1>
<form method="post">
    <input type="text" name="Username" placeholder="Username"><br>
    <input type="text" name="Password" placeholder="Password"><br>
    <input type="submit" value="Submit">
</form>
<p>
    <a asp-page="/Employee_Section/">Click here to go to EmployeeHome</a>
</p>
