@page
@model PurchaseInfoModel
@{
    ViewData["Title"] = "Purchase Info Page";
    var idSum = 0;
}

<style>
    #attractions {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #attractions td, #attractions th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #attractions tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #attractions tr:hover {
            background-color: #ddd;
        }

        #attractions th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>

<h1>Purchase Information</h1>
<p>This page will display anything that a customer purchases</p>

<!-- Table for results of Purchase-->
<table id="attractions" style="width:100%; border:1px solid black; padding:15px">
    <!-- Column Names-->
    <tr>
        <th>Receipt ID</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>

    <!-- Column Values-->
    @for (int i = 0; i < Model.receiptID.Count; i++)    //Need  to create a purchaseinfomodel
    {
    <tr>
        <td>@Model.receiptID[i]</td>
        <td>@Model.product[i]</td>
        <td>@Model.quantity[i]</td>
        <td>@Model.price[i]</td>
        <td>Info about the animals who live here(species, count, etc)</td>
    </tr>
    }
</table>