@page
@model EmployeeHomeModel
@{
}
<style>
    .employee-links {
        display: flex;
        justify-content: space-between;
    }
</style>
<p>
    <nav class="employee-links">
        <a asp-page="./Insert">Insert</a>
        <a asp-page="./SalesReports">Sales Reports</a>
        <a asp-page="./Search">Search</a>
        <a asp-page="./Update">Update</a>
        <a asp-page="../Login">Logout</a>
    </nav>
</p>
<h1>Employee Home Page for @HttpContext.User.Identity.Name</h1>
