@page
@model EmployeeIndexModel
@{
}
<script src="~/js/moment.js"></script>
<script src="~/js/Chart.js"></script>
<style>
    .employee-nav {
        display: flex;
        justify-content: space-between;
    }

    .admin-box {
        padding: 20px 0px;
    }

        .admin-box a {
            display: block;
        }
</style>
<nav class="employee-links" style="padding-top:15px;">
    <a class="btn btn-default" stlye="margin:10px;" asp-page="../Logout">Logout</a>
</nav>
<h1>Employee Home Page for @HttpContext.User.Identity.Name</h1>

@if (HttpContext.User.IsInRole("Manager"))
{
    <h2>You are a manager!</h2>
}
@if (HttpContext.User.IsInRole("Customer"))
{
    <h2>You are a customer!</h2>
}
@if (HttpContext.User.IsInRole("Employee"))
{
    <h2>You are an Employee!</h2>
}
<div>
<<<<<<< HEAD
    <nav class="employee-nav">
        <a asp-page="/Employee_Section/Insert">Insert</a>
        <a asp-page="/Employee_Section/SalesReports">Sales Reports</a>
        <a asp-page="/Employee_Section/Search">Search</a>
        <a asp-page="/Employee_Section/Update">Update</a>
        <a asp-page="/Logout">Logout</a>
    </nav>
    <div id="animal-links" class="admin-box">
        <h3>Animals</h3>
        <a href="/Employee_Section/Search?we=ANIMAL">View/Edit Animals</a>
        <a href="/Employee_Section/Insert?we=ANIMAL">Create Animal</a>
        <a href="/Employee_Section/Search?we=ATTRACTION">View/Edit Attractions</a>
        <a href="/Employee_Section/Insert?we=ATTRACTION">Create Attraction</a>
    </div>
    <div id="employee-links" class="admin-box">
        <h3>Employees</h3>
        <a href="/Employee_Section/Search?we=EMPLOYEE">View/Edit Employees</a>
        <a href="/Employee_Section/Insert?we=EMPLOYEE">Create Employee</a>
        <a href="/Employee_Section/Search?we=TITLE_TYPE">View/Edit Employee Title Types</a>
        <a href="/Employee_Section/Insert?we=TITLE_TYPE">Create Employee Title Type</a>
    </div>
    <div id="customer-links" class="admin-box">
        <h3>Customers</h3>
        <a href="/Employee_Section/Search?we=CUSTOMER">View/Edit Customers</a>
        <a href="/Employee_Section/Insert?we=CUSTOMER">Create Customer</a>
        <a href="/Employee_Section/Search?we=MEMBERSHIP_TYPE">View/Edit Customer Membership Types</a>
        <a href="/Employee_Section/Insert?we=MEMBERSHIP_TYPE">Create Customer Membership Type</a>
    </div>
    <div id="product-links" class="admin-box">
        <h3>Products</h3>
        <a href="/Employee_Section/Search?we=PRODUCT">View/Edit Products</a>
        <a href="/Employee_Section/Insert?we=PRODUCT">Create Product</a>
    </div>
    <div id="purchase-links" class="admin-box">
        <h3>Purchases</h3>
        <a href="/Employee_Section/Search?we=PURCHASE">View/Edit Purchases</a>
        <a href="/Employee_Section/Insert?we=PURCHASE">Create Purchase</a>
        <a href="/Employee_Section/Search?we=PURCHASE_INFO">View/Edit Purchase Info</a>
        <a href="/Employee_Section/Insert?we=PURCHASE_INFO">Create Purchase Info</a>
        <a href="/Employee_Section/Search?we=PAY_TYPE">View/Edit Pay Types</a>
        <a href="/Employee_Section/Insert?we=PAY_TYPE">Create Pay Type</a>
    </div>
    <div id="store-links" class="admin-box">
        <h3>Stores</h3>
        <a href="/Employee_Section/Search?we=STORE">View/Edit Stores</a>
        <a href="/Employee_Section/Insert?we=STORE">Create Store</a>
        <a href="/Employee_Section/Search?we=STORE_TYPE">View/Edit Store Types</a>
        <a href="/Employee_Section/Insert?we=STORE_TYPE">Create Store Type</a>
    </div>
    <script>


    </script>
