@page
@model UpdateModel
@{
}
<h1>Update</h1>
<form method="post">
    <input type="text" name="command" value="" style="width: 800px;"/>
    <input type="submit" value="Submit" />
</form>

<p>@Model.dbCommand</p>
<p>@Model.EMessage</p>