@page
@model InsertModel
@{
}

<style>
    #insertion {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #insertion td, #insertion th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #insertion tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #insertion tr:hover {
        background-color: #ddd;
    }

    #insertion th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
</style>


<br />
<br />

@{
<form method="post">
    <div>
        <label for="Entity">Entity to INSERT INTO</label>
        <input type="text" name="entityType" value="@Model.whichEntity" />
        <br />
        <input type="submit" value="Choose" /><br />
    </div>

    @if (Model.whichEntity == "TITLE_TYPE")
    {
        <p>TITLE_TYPE CHOSEN</p>

        <div>
            <table id="insertion" style="width:100%; border:1px solid black; padding:15px">
                <!-- Column Names-->
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                </tr>

                <!-- Column Values-->
                <tr>
                    <td><input type="text" name="insertID" value="ID" /></td>
                    <td><input type="text" name="insertTYpe" value="Type" /></td>
                </tr>
            </table>
            <br />
            <input type="submit" value="Insert" />
        </div>
    }

    @if (Model.whichEntity == "ATTRACTION")
    {
        <p>Attraction Chosen</p>
        <div>
            <table id="insertion" style="width:100%; border:1px solid black; padding:15px">
                <!-- Column Names-->
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Open</th>
                    <th>Open Date</th>
                    <th>ManagerID</th>
                    <th>Manager Start Date</th>
                    <th>Description</th>
                </tr>

                <!-- Column Values-->
                <tr>
                    <td><input type="text" name="insertID" value="ID" /></td>
                    <td><input type="text" name="insertType" value="Type" /></td>
                    <td><input type="text" name="insertOpen" value="Open/Closed" /></td>
                    <td><input type="text" name="insertOpenDate" value="Open Date" /></td>
                    <td><input type="text" name="insertManager" value="ManagerID" /></td>
                    <td><input type="text" name="insertManagerDate" value="Manager Start Date" /></td>
                    <td><input type="text" name="insertDescription" value="Description" /></td>
                </tr>
            </table>
            <br />
            <input type="submit" value="Insert" />
        </div>
    }

    @if (Model.whichEntity == "PRODUCT")
    {
        <p>Product Chosen</p>
        <div>
            <table id="insertion" style="width:100%; border:1px solid black; padding:15px">
                <!-- Column Names-->
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>

                <!-- Column Values-->
                <tr>
                    <td><input type="text" name="insertID" value="ID" /></td>
                    <td><input type="text" name="insertType" value="Type" /></td>
                    <td><input type="text" name="insertPrice" value="Price" /></td>
                    <td><input type="text" name="insertDescription" value="Desecription" /></td>
                </tr>
            </table>
            <br />
            <input type="submit" value="Insert" />
        </div>
    }

    @if (Model.whichEntity == "EMPLOYEE")
    {
        <p>Employee Chosen</p>
        <div>
            <table id="insertion" style="width:100%; border:1px solid black; padding:15px">
                <!-- Column Names-->
                <tr>
                    <th>ID</th>
                    <th>Fname</th>
                    <th>Mname</th>
                    <th>Lname</th>
                    <th>Title</th>
                    <th>Hire_Date</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>Zip</th>
                    <th>State</th>
                    <th>Email</th>
                    <th>Phone#</th>
                    <th>Gender</th>
                    <th>Store</th>
                    <th>Attraction</th>
                </tr>

                <!-- Column Values-->
                <tr>
                    <td><input type="text" name="insertID" value="ID" /></td>
                    <td><input type="text" name="insertFname" value="First Name" /></td>
                    <td><input type="text" name="insertMname" value="Middle Name" /></td>
                    <td><input type="text" name="insertLname" value="Last Name" /></td>
                    <td><input type="text" name="insertTitle" value="Title" /></td>
                    <td><input type="text" name="insertHire_Date" value="Hire Date" /></td>
                    <td><input type="text" name="insertStreet" value="Street" /></td>
                    <td><input type="text" name="insertCity" value="City" /></td>
                    <td><input type="text" name="insertZip" value="Zip" /></td>
                    <td><input type="text" name="insertState" value="State" /></td>
                    <td><input type="text" name="insertEmail" value="Email" /></td>
                    <td><input type="text" name="insertPhone#" value="Phone#" /></td>
                    <td><input type="text" name="insertGender" value="Gender" /></td>
                    <td><input type="text" name="insertStore" value="Store>" /></td>
                    <td><input type="text" name="insertAttraction" value="Attraction" /></td>
                </tr>
            </table>
            <br />
            <input type="submit" value="Insert" />
        </div>
    }

    @if (Model.whichEntity == "ANIMAL")
    {
        <p>Employee Chosen</p>
        <div>
            <table id="insertion" style="width:100%; border:1px solid black; padding:15px">
                <!-- Column Names-->
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Taxology</th>
                    <th>Birth Location</th>
                    <th>Birth Date</th>
                    <th>Status</th>
                    <th>Status_date</th>
                    <th>Gender</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Health</th>
                    <th>Health_date</th>
                    <th>Attraction</th>
                </tr>

                <!-- Column Values-->
                <tr>
                    <td><input type="text" name="insertID" value="ID" /></td>
                    <td><input type="text" name="insertName" value="Name" /></td>
                    <td><input type="text" name="insertSpecies" value="Species" /></td>
                    <td><input type="text" name="insertTaxology" value="Taxology" /></td>
                    <td><input type="text" name="insertBirthLocation" value="Birth Location" /></td>
                    <td><input type="text" name="insertBirthDate" value="Birth Date" /></td>
                    <td><input type="text" name="insertStatus" value="Status" /></td>
                    <td><input type="text" name="insertStatus_date" value="Status_date" /></td>
                    <td><input type="text" name="insertGender" value="Gender" /></td>
                    <td><input type="text" name="insertHeight" value="Height" /></td>
                    <td><input type="text" name="insertWeight" value="Weight" /></td>
                    <td><input type="text" name="insertHealth" value="Health" /></td>
                    <td><input type="text" name="insertHealth_date" value="Health_date" /></td>
                    <td><input type="text" name="insertAttraction" value="Attraction" /></td>    
                </tr>
            </table>
            <br />
            <input type="submit" value="Insert" />
        </div>
    }


</form>
}
<p>@Model.AMessage</p>
<p>@Model.dbCommand</p>
<p>@Model.EMessage</p>